.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.full-width {
    width: 100%;
}

.d-flex {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.mt-8 {
    margin-top: 8px;
}
