@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css);
.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.full-width {
    width: 100%;
}

.d-flex {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.mt-8 {
    margin-top: 8px;
}
